nodered/monitor/infra_flow.export
[{"id":"41741cf8.6bcdec","type":"dweetio in","z":"d635733e.4916b","thing":"vladanExtInfo","name":"vladanExtInfo","x":100,"y":120,"wires":[["93b8525a.766798"]]},{"id":"93b8525a.766798","type":"function","z":"d635733e.4916b","name":"InfraProcessor","func":"var cDown = msg.payload.tkIn;\nvar cUp = msg.payload.tkOut;\nvar curTime = Math.floor(Date.now() / 1000);\nvar prevUp = context.get('prevUp')||cUp;\nvar prevDown = context.get('prevDown')||cDown;\nvar prevTime = context.get('prevTime')||curTime;\n\ncontext.set('prevUp',cUp);\ncontext.set('prevDown',cDown);\ncontext.set('prevTime',curTime);\n\nvar timeDiff = curTime - prevTime;\ncurDown = (cDown - prevDown) / timeDiff;\ncurUp = (cUp - prevUp) / timeDiff;\n\nreturn [{ payload: msg.payload.upsLoad },{ payload: msg.payload.upsCharge },{ payload: msg.payload.upsRuntime },{ payload: msg.payload.upsStatus },{ payload: msg.payload.upsVoltage },{ payload: msg.payload.curUp/1024/1024 },{ payload: msg.payload.curDown/1024/1024 },{ payload: curDown/1024 },{ payload: curUp/1024 },{ payload: msg.payload.IPaddress }];","outputs":"10","noerr":0,"x":286,"y":119,"wires":[["6758d287.7f34d4"],["b92ffdd0.d0f218"],["83e233e5.3d39e"],["8d15f6ba.c84018","1b24a972.1eb487"],["f00665b6.419ef8","e97bea7f.e52fc8"],["9c587df3.ea2398"],["31616007.fb3b48"],["66bba29f.b0409c"],["96a15981.475558"],["a1628e88.d2ff6"]]},{"id":"6758d287.7f34d4","type":"ui_gauge","z":"d635733e.4916b","name":"","group":"af14974d.2a1ee8","order":1,"width":"3","height":"3","gtype":"gage","title":"Load","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"50","seg2":"80","x":445,"y":20,"wires":[]},{"id":"b92ffdd0.d0f218","type":"ui_gauge","z":"d635733e.4916b","name":"","group":"af14974d.2a1ee8","order":2,"width":"3","height":"3","gtype":"gage","title":"Charge","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#ca3838","#e6e600","#00b500"],"seg1":"30","seg2":"60","x":561,"y":46,"wires":[]},{"id":"83e233e5.3d39e","type":"ui_gauge","z":"d635733e.4916b","name":"","group":"af14974d.2a1ee8","order":3,"width":"3","height":"3","gtype":"donut","title":"Runtime","label":"sec","format":"{{value}}","min":0,"max":"1600","colors":["#ca3838","#e6e600","#008000"],"seg1":"300","seg2":"600","x":803,"y":56,"wires":[]},{"id":"f00665b6.419ef8","type":"ui_chart","z":"d635733e.4916b","name":"","group":"af14974d.2a1ee8","order":7,"width":0,"height":0,"label":"Voltage","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":417,"y":257,"wires":[["499d722e.8e5374"],[]]},{"id":"8d15f6ba.c84018","type":"ui_text","z":"d635733e.4916b","group":"af14974d.2a1ee8","order":5,"width":"3","height":"1","name":"","label":"Status:","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":84,"wires":[]},{"id":"e97bea7f.e52fc8","type":"ui_text","z":"d635733e.4916b","group":"af14974d.2a1ee8","order":6,"width":"3","height":"1","name":"","label":"Voltage:","format":"{{msg.payload}}","layout":"row-spread","x":816,"y":103,"wires":[]},{"id":"9c587df3.ea2398","type":"ui_gauge","z":"d635733e.4916b","name":"","group":"7d7985b8.4d632c","order":2,"width":"3","height":"3","gtype":"gage","title":"Upload:","label":"Mbps","format":"{{value|number :1}}","min":0,"max":10,"colors":["#ca3838","#e6e600","#00b500"],"seg1":"1","seg2":"2","x":841,"y":158,"wires":[]},{"id":"31616007.fb3b48","type":"ui_gauge","z":"d635733e.4916b","name":"","group":"7d7985b8.4d632c","order":3,"width":"3","height":"3","gtype":"gage","title":"Download:","label":"Mbps","format":"{{value | number:1}}","min":0,"max":"50","colors":["#ca3838","#e6e600","#00b500"],"seg1":"20","seg2":"35","x":685,"y":179,"wires":[]},{"id":"f1c682e1.fd388","type":"file in","z":"d635733e.4916b","name":"","filename":"/root/scripts/voltage.data","format":"","x":1009,"y":36,"wires":[["f00665b6.419ef8"]]},{"id":"499d722e.8e5374","type":"file","z":"d635733e.4916b","name":"","filename":"/root/scripts/voltage.data","appendNewline":false,"createDir":false,"overwriteFile":"false","x":925,"y":263,"wires":[]},{"id":"c8ef1ddf.61b3","type":"inject","z":"d635733e.4916b","name":"load graphs from file","topic":"load","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":769,"y":20,"wires":[["f1c682e1.fd388"]]},{"id":"96a15981.475558","type":"ui_gauge","z":"d635733e.4916b","name":"","group":"7d7985b8.4d632c","order":4,"width":"3","height":"3","gtype":"gage","title":"Current Upload:","label":"Kbps","format":"{{value|number :1}}","min":0,"max":"2048","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":858,"y":216,"wires":[]},{"id":"66bba29f.b0409c","type":"ui_gauge","z":"d635733e.4916b","name":"","group":"7d7985b8.4d632c","order":5,"width":"3","height":"3","gtype":"gage","title":"Current Download:","label":"Kbps","format":"{{value|number :1}}","min":0,"max":"51200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":697,"y":234,"wires":[]},{"id":"a1628e88.d2ff6","type":"ui_text","z":"d635733e.4916b","group":"7d7985b8.4d632c","order":1,"width":0,"height":0,"name":"","label":"External IP:","format":"{{msg.payload}}","layout":"row-spread","x":683,"y":279,"wires":[]},{"id":"678d2785.d02d28","type":"snmp","z":"d635733e.4916b","host":"192.168.0.251","community":"public","version":"2c","oids":"1.3.6.1.2.1.1.5.0,1.3.6.1.2.1.2.2.1.10.2,1.3.6.1.2.1.2.2.1.11.2,1.3.6.1.4.1.2021.11.11.0,1.3.6.1.4.1.2021.4.6.0","name":"xbian","x":281,"y":395,"wires":[["30b6d6cb.48d55a"]]},{"id":"56e5acdf.d059ac","type":"inject","z":"d635733e.4916b","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":true,"x":127,"y":396,"wires":[["678d2785.d02d28","24bd63c.e06911c"]]},{"id":"30b6d6cb.48d55a","type":"function","z":"d635733e.4916b","name":"SNMP Processor","func":"var curTime = Math.floor(Date.now() / 1000);\nvar prevTime = context.get('prevTime')||curTime;\ncontext.set('prevTime',curTime);\nvar time = curTime - prevTime;\n\nvar cIn = msg.payload[1].value;\nvar prevIn = context.get('cIn')||cIn;\nvar xbianIn = (cIn - prevIn)/time/1024 ;\ncontext.set('cIn',cIn);\n\nvar cOut = msg.payload[2].value;\nvar prevOut = context.get('cOut')||cOut;\nvar xbianOut = (cOut - prevOut)/time/1024 ;\ncontext.set('cOut',cOut);\n\nreturn [{ payload: msg.payload[0].value },{ payload: xbianIn},{ payload: xbianOut},{payload: 100-msg.payload[3].value},{payload: 732-(msg.payload[4].value/1024)}]","outputs":"5","noerr":0,"x":478,"y":388,"wires":[[],["3d844f85.1e2128"],["6ec48f05.e5f338"],["1c1e739a.f0eb74"],["61e3f0bb.3b9dc"]]},{"id":"3d844f85.1e2128","type":"ui_gauge","z":"d635733e.4916b","name":"","group":"26471be4.5dbb24","order":1,"width":"3","height":"3","gtype":"gage","title":"Current Download:","label":"kbps","format":"{{value| number:1}}","min":0,"max":"10240","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":757,"y":366,"wires":[]},{"id":"6ec48f05.e5f338","type":"ui_gauge","z":"d635733e.4916b","name":"","group":"26471be4.5dbb24","order":2,"width":"3","height":"3","gtype":"gage","title":"Current Upload:","label":"kbps","format":"{{value| number:1}}","min":0,"max":"10240","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":948,"y":390,"wires":[]},{"id":"1c1e739a.f0eb74","type":"ui_gauge","z":"d635733e.4916b","name":"","group":"26471be4.5dbb24","order":3,"width":"3","height":"3","gtype":"gage","title":"CPU","label":"%","format":"{{value| number:1}}","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":907,"y":437,"wires":[]},{"id":"61e3f0bb.3b9dc","type":"ui_gauge","z":"d635733e.4916b","name":"","group":"26471be4.5dbb24","order":4,"width":"3","height":"3","gtype":"gage","title":"Memory","label":"","format":"{{value| number:1}}","min":"0","max":"1024","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":723,"y":438,"wires":[]},{"id":"1ede6a7a.801a46","type":"ui_template","z":"d635733e.4916b","group":"af14974d.2a1ee8","name":"StatusLed","order":4,"width":"3","height":"3","format":"<script src=\"/jslib/tween-min.js\"></script>\n<script src=\"/jslib/steelseries-min.js\"></script>\n<script>\nvar instance;   // Stores a reference to the Singleton\nvar led;        // Stores a reference to the SS LED\n\n    (function(scope){ \n        scope.$watch('msg', function(msg) {\n           if (typeof(msg.color) != \"undefined\") setLedColor(msg.color);\n           if (typeof(msg.state) != \"undefined\") setLedState(msg.state);\n        });\n    })(scope);\n\nif ($('#canvas_led').length) {\n    led = new steelseries.Led(\n        'canvas_led', {\n        ledColor : steelseries.LedColor.GREEN_LED,\n        size : $('#canvas_led').width()\n    });\n}\nfunction setLedColor(newColour) {\n    if (led) {\n        switch (newColour){\n            case \"red\":     col = steelseries.LedColor.RED_LED;break;\n            case \"green\":   col = steelseries.LedColor.GREEN_LED; break;\n            case \"blue\":    col = steelseries.LedColor.BLUE_LED;break;\n            case \"yellow\":  col = steelseries.LedColor.YELLOW_LED;break;\n            case \"orange\":  col = steelseries.LedColor.ORANGE_LED;break;\n            case \"cyan\":    col = steelseries.LedColor.CYAN_LED; break;\n            case \"magenta\": col = steelseries.LedColor.MAGENTA_LED; break;\n        }\n        led.setLedColor(col);\n    }\n}\n\nfunction setLedState(newState) {\n    if (led) {\n        switch (newState){\n            case \"on\" : blink(false);setLedOnOff(true);break;\n            case \"off\": blink(false);setLedOnOff(false);break;\n            case \"blink\": blink(true);break;\n        }\n    }\n}\n\nfunction setLedOnOff(onState) {\n    if (led) {\n        led.setLedOnOff(onState);\n    }\n}\n\nfunction blink(blinkState) {\n    if (led) {\n        led.blink(blinkState);\n    }\n};\n</script>                \n<canvas id=\"canvas_led\"></canvas>","storeOutMessages":false,"fwdInMessages":false,"x":518,"y":314,"wires":[[]]},{"id":"1b24a972.1eb487","type":"function","z":"d635733e.4916b","name":"UPS Status Processing","func":"switch (msg.payload){\n    case \"OL\":  msg.state = \"on\";msg.color=\"green\";break;\n    case \"OL_CHRG\":  msg.state = \"blink\";msg.color=\"green\";break;\n    case \"OB_DSCHG\":  msg.state = \"blink\"; msg.color = \"orange\"; break;    \n    default:    msg.state = \"blink\";msg.color = \"yellow\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":276,"y":316,"wires":[["1ede6a7a.801a46"]]},{"id":"24bd63c.e06911c","type":"DeviceStats","z":"d635733e.4916b","name":"","mem":true,"nw":true,"load":true,"hostname":true,"useString":false,"x":123,"y":534,"wires":[["77dfeeb9.287fc8"]]},{"id":"77dfeeb9.287fc8","type":"function","z":"d635733e.4916b","name":"Storage processor","func":"var curTime = Math.floor(Date.now() / 1000);\nvar prevTime = context.get('prevTimeStorage')||curTime;\ncontext.set('prevTimeStorage',curTime);\nvar time = curTime - prevTime;\n\nvar sIn = msg.payload.nw.eth0.rx;\nvar prevIn = context.get('sIn')||sIn;\nvar stgIn = (sIn - prevIn)/time/1024 ;\ncontext.set('sIn',sIn);\n\nvar sOut = msg.payload.nw.eth0.tx;\nvar prevOut = context.get('sOut')||sOut;\nvar stgOut = (sOut - prevOut)/time/1024 ;\ncontext.set('sOut',sOut);\nreturn [{payload:msg.payload.mem.used/1024},{payload:msg.payload.load[1]},{payload:stgIn},{payload:stgOut}];","outputs":"4","noerr":0,"x":329,"y":535,"wires":[["fea4fc0.383a008"],["ccb3aa98.1c65d8"],["eaa892b8.e931f"],["38c0b011.297f6"]]},{"id":"fea4fc0.383a008","type":"ui_gauge","z":"d635733e.4916b","name":"","group":"4b06d1d2.37f2e8","order":0,"width":"3","height":"3","gtype":"gage","title":"Memory","label":"MB","format":"{{value|number:1}}","min":0,"max":"4096","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":638,"y":474,"wires":[]},{"id":"ccb3aa98.1c65d8","type":"ui_gauge","z":"d635733e.4916b","name":"","group":"4b06d1d2.37f2e8","order":0,"width":"3","height":"3","gtype":"gage","title":"Load","label":"","format":"{{value|number:1}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":508,"wires":[]},{"id":"eaa892b8.e931f","type":"ui_gauge","z":"d635733e.4916b","name":"","group":"4b06d1d2.37f2e8","order":0,"width":"3","height":"3","gtype":"gage","title":"Download:","label":"KBps","format":"{{value|number:2}}","min":0,"max":"1024000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":545,"wires":[]},{"id":"38c0b011.297f6","type":"ui_gauge","z":"d635733e.4916b","name":"","group":"4b06d1d2.37f2e8","order":0,"width":"3","height":"3","gtype":"gage","title":"Upload:","label":"KBps","format":"{{value|number:2}}","min":0,"max":"1024000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":638,"y":583,"wires":[]},{"id":"7d7cfc94.55de64","type":"Drives","z":"d635733e.4916b","name":"","x":129,"y":649,"wires":[["b0c6d409.554958"]]},{"id":"b0c6d409.554958","type":"function","z":"d635733e.4916b","name":"","func":"\nreturn [{payload:msg.payload[6].capacity*100},{payload:msg.payload[0].capacity*100}];","outputs":"2","noerr":0,"x":295,"y":704,"wires":[["80c3a05f.7534a8"],["d71a1d77.deb2d"]]},{"id":"80c3a05f.7534a8","type":"ui_gauge","z":"d635733e.4916b","name":"","group":"4b06d1d2.37f2e8","order":0,"width":"3","height":"3","gtype":"wave","title":"Main HDD","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":518,"y":678,"wires":[]},{"id":"d71a1d77.deb2d","type":"ui_gauge","z":"d635733e.4916b","name":"","group":"4b06d1d2.37f2e8","order":0,"width":"3","height":"3","gtype":"wave","title":"System HDD:","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":523,"y":730,"wires":[]},{"id":"af14974d.2a1ee8","type":"ui_group","z":"","name":"UPS","tab":"8a85f4d3.697088","disp":true,"width":"6"},{"id":"7d7985b8.4d632c","type":"ui_group","z":"","name":"Internet Link","tab":"8a85f4d3.697088","disp":true,"width":"6"},{"id":"26471be4.5dbb24","type":"ui_group","z":"","name":"xbian","tab":"8a85f4d3.697088","disp":true,"width":"6"},{"id":"4b06d1d2.37f2e8","type":"ui_group","z":"","name":"Storage","tab":"8a85f4d3.697088","disp":true,"width":"6"},{"id":"8a85f4d3.697088","type":"ui_tab","z":"","name":"Infrastructure","icon":"dashboard","order":4}]
