nodered/monitor/zver_flow.export
[{"id":"bb3feeb7.83421","type":"dweetio in","z":"20276ea5.1116c2","thing":"vladanMinersZver","name":"miner@zver","x":130,"y":135,"wires":[["2681cda8.b6d66a"]]},{"id":"3fcbbb3e.570d6c","type":"ui_chart","z":"20276ea5.1116c2","name":"","group":"a9081a23.fe65c8","order":1,"width":0,"height":0,"label":"ETH Speed","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":489,"y":79,"wires":[["a5c30863.83175"],[]]},{"id":"2681cda8.b6d66a","type":"function","z":"20276ea5.1116c2","name":"MinerStats","func":"\nreturn [ { payload: msg.payload.ETHspeed}, {payload: msg.payload.otherspeed}, {payload:msg.payload.Temps[0]}, {payload:msg.payload.Fans[0]},{payload:msg.payload.Temps[1]}, {payload:msg.payload.Fans[1]}, {payload:msg.payload.msg}]","outputs":"7","noerr":0,"x":296,"y":134,"wires":[["3fcbbb3e.570d6c","75b4ade.b624954"],["d6233b7c.820338","790ace80.4650b8"],["e23e1089.69c02"],["a88ced83.ea7e5"],["361b3897.b56b68"],["7eb2392c.9c6f2"],["81e311a2.4f492","32c59c45.55745c"]]},{"id":"75b4ade.b624954","type":"ui_gauge","z":"20276ea5.1116c2","name":"","group":"a9081a23.fe65c8","order":2,"width":0,"height":0,"gtype":"gage","title":"ETH Speed","label":"MH/s","format":"{{value}}","min":0,"max":"100","colors":["#ca3838","#00b500","#80ff80"],"seg1":"37","seg2":"41","x":655,"y":102,"wires":[]},{"id":"1bdb707e.dcb3d","type":"function","z":"20276ea5.1116c2","name":"Env data","func":"return [{ payload: msg.payload.temp },{payload: msg.payload.pressure}]","outputs":"2","noerr":0,"x":289,"y":332,"wires":[["27809953.e28d16"],["b7b0a3a8.7e355","b095db98.72acd8"]]},{"id":"7f526025.7b83a","type":"dweetio in","z":"20276ea5.1116c2","thing":"vladanS01Info","name":"Senzor_01","x":122,"y":331,"wires":[["1bdb707e.dcb3d"]]},{"id":"27809953.e28d16","type":"ui_gauge","z":"20276ea5.1116c2","name":"","group":"d2a40106.560f4","order":0,"width":"3","height":"3","gtype":"gage","title":"Temp","label":"C","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"28","seg2":"35","x":481,"y":320,"wires":[]},{"id":"b7b0a3a8.7e355","type":"ui_gauge","z":"20276ea5.1116c2","name":"","group":"d2a40106.560f4","order":0,"width":"3","height":"3","gtype":"gage","title":"Pressure","label":"mB","format":"{{value}}","min":"800","max":"1500","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":473,"y":357,"wires":[]},{"id":"d6233b7c.820338","type":"ui_gauge","z":"20276ea5.1116c2","name":"","group":"38c5e326.02486c","order":4,"width":0,"height":0,"gtype":"gage","title":"SIA Speed","label":"MH/s","format":"{{value}}","min":0,"max":"800","colors":["#ca3838","#e6e600","#00b500"],"seg1":"350","seg2":"600","x":663,"y":150,"wires":[]},{"id":"790ace80.4650b8","type":"ui_chart","z":"20276ea5.1116c2","name":"","group":"38c5e326.02486c","order":3,"width":0,"height":0,"label":"SIA Speed","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":490,"y":133,"wires":[["6605102e.00a1d"],[]]},{"id":"e23e1089.69c02","type":"ui_gauge","z":"20276ea5.1116c2","name":"","group":"31c0b05d.c172e8","order":0,"width":"3","height":"3","gtype":"gage","title":"GPU#0 Temp","label":"C","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":487,"y":180,"wires":[]},{"id":"a88ced83.ea7e5","type":"ui_gauge","z":"20276ea5.1116c2","name":"","group":"31c0b05d.c172e8","order":0,"width":"3","height":"3","gtype":"gage","title":"GPU#0 Fan","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"80","x":663,"y":196,"wires":[]},{"id":"b095db98.72acd8","type":"ui_chart","z":"20276ea5.1116c2","name":"","group":"d2a40106.560f4","order":0,"width":0,"height":0,"label":"Pressure","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"x":474,"y":402,"wires":[["cfc66558.6d732"],[]]},{"id":"645b554d.fb271c","type":"function","z":"20276ea5.1116c2","name":"CoinValues","func":"return [{ payload: msg.payload.USDT_ETH.last },{ payload: msg.payload.BTC_ETH.last },{ payload: msg.payload.BTC_SC.last }]","outputs":"3","noerr":0,"x":475,"y":494,"wires":[["a12abb7a.687498"],["4fa1a3b0.d1bab4"],["9dc5914e.335298"]]},{"id":"a12abb7a.687498","type":"ui_text","z":"20276ea5.1116c2","group":"a9081a23.fe65c8","order":0,"width":0,"height":0,"name":"","label":"USDT:","format":"{{msg.payload}}","layout":"row-spread","x":678,"y":422,"wires":[]},{"id":"d681dd99.c83d4","type":"http request","z":"20276ea5.1116c2","name":"","method":"GET","ret":"obj","url":"https://poloniex.com/public?command=returnTicker","tls":"","x":307,"y":495,"wires":[["645b554d.fb271c"]]},{"id":"fa2dd629.370958","type":"inject","z":"20276ea5.1116c2","name":"","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":true,"x":130,"y":496,"wires":[["d681dd99.c83d4","36cf2f82.8c3108"]]},{"id":"4fa1a3b0.d1bab4","type":"ui_text","z":"20276ea5.1116c2","group":"a9081a23.fe65c8","order":0,"width":0,"height":0,"name":"","label":"BTC:","format":"{{msg.payload}}","layout":"row-spread","x":677,"y":465,"wires":[]},{"id":"9dc5914e.335298","type":"ui_text","z":"20276ea5.1116c2","group":"38c5e326.02486c","order":0,"width":0,"height":0,"name":"","label":"BTC:","format":"{{msg.payload}}","layout":"row-spread","x":678,"y":512,"wires":[]},{"id":"361b3897.b56b68","type":"ui_gauge","z":"20276ea5.1116c2","name":"","group":"31c0b05d.c172e8","order":0,"width":"3","height":"3","gtype":"gage","title":"GPU#1 Temp","label":"C","format":"{{value}}","min":0,"max":"120","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":486,"y":230,"wires":[]},{"id":"7eb2392c.9c6f2","type":"ui_gauge","z":"20276ea5.1116c2","name":"","group":"31c0b05d.c172e8","order":0,"width":"3","height":"3","gtype":"gage","title":"GPU#1 Fan","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"80","x":662,"y":240,"wires":[]},{"id":"fa7412ec.9f8d3","type":"file in","z":"20276ea5.1116c2","name":"","filename":"/root/scripts/pressure.data","format":"","x":230,"y":396,"wires":[["b095db98.72acd8"]]},{"id":"cfc66558.6d732","type":"file","z":"20276ea5.1116c2","name":"","filename":"/root/scripts/pressure.data","appendNewline":false,"createDir":true,"overwriteFile":"false","x":760,"y":362,"wires":[]},{"id":"6115e43b.be482c","type":"inject","z":"20276ea5.1116c2","name":"Restore graph data","topic":"load","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":118,"y":456,"wires":[["fa7412ec.9f8d3","96056604.7f78b","f9cb0db2.1b91"]]},{"id":"a5c30863.83175","type":"file","z":"20276ea5.1116c2","name":"","filename":"/root/scripts/ethspeed.data","appendNewline":false,"createDir":true,"overwriteFile":"false","x":920,"y":88,"wires":[]},{"id":"6605102e.00a1d","type":"file","z":"20276ea5.1116c2","name":"","filename":"/root/scripts/siaspeed.data","appendNewline":false,"createDir":true,"overwriteFile":"false","x":920,"y":138,"wires":[]},{"id":"96056604.7f78b","type":"file in","z":"20276ea5.1116c2","name":"","filename":"/root/scripts/ethspeed.data","format":"","x":190,"y":212,"wires":[["3fcbbb3e.570d6c"]]},{"id":"f9cb0db2.1b91","type":"file in","z":"20276ea5.1116c2","name":"","filename":"/root/scripts/siaspeed.data","format":"","x":341,"y":277,"wires":[["790ace80.4650b8"]]},{"id":"64acba03.48ff5c","type":"ui_ui_control","z":"20276ea5.1116c2","name":"ui control","x":116,"y":616,"wires":[["f9cb0db2.1b91","96056604.7f78b","fa7412ec.9f8d3"]]},{"id":"81e311a2.4f492","type":"ui_text","z":"20276ea5.1116c2","group":"d2a40106.560f4","order":0,"width":"4","height":"2","name":"","label":"Status:","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":291,"wires":[]},{"id":"a16c4b6f.2efa58","type":"ui_template","z":"20276ea5.1116c2","group":"d2a40106.560f4","name":"StatusLed","order":0,"width":"2","height":"2","format":"<script src=\"/jslib/tween-min.js\"></script>\n<script src=\"/jslib/steelseries-min.js\"></script>\n<script>\nvar instance;   // Stores a reference to the Singleton\nvar led;        // Stores a reference to the SS LED\n\n    (function(scope){ \n        scope.$watch('msg', function(msg) {\n           if (typeof(msg.color) != \"undefined\") setLedColor(msg.color);\n           if (typeof(msg.state) != \"undefined\") setLedState(msg.state);\n        });\n    })(scope);\n\nif ($('#canvas_led').length) {\n    led = new steelseries.Led(\n        'canvas_led', {\n        ledColor : steelseries.LedColor.GREEN_LED,\n        size : $('#canvas_led').width()\n    });\n}\nfunction setLedColor(newColour) {\n    if (led) {\n        switch (newColour){\n            case \"red\":     col = steelseries.LedColor.RED_LED;break;\n            case \"green\":   col = steelseries.LedColor.GREEN_LED; break;\n            case \"blue\":    col = steelseries.LedColor.BLUE_LED;break;\n            case \"yellow\":  col = steelseries.LedColor.YELLOW_LED;break;\n            case \"orange\":  col = steelseries.LedColor.ORANGE_LED;break;\n            case \"cyan\":    col = steelseries.LedColor.CYAN_LED; break;\n            case \"magenta\": col = steelseries.LedColor.MAGENTA_LED; break;\n        }\n        led.setLedColor(col);\n    }\n}\n\nfunction setLedState(newState) {\n    if (led) {\n        switch (newState){\n            case \"on\" : blink(false);setLedOnOff(true);break;\n            case \"off\": blink(false);setLedOnOff(false);break;\n            case \"blink\": blink(true);break;\n        }\n    }\n}\n\nfunction setLedOnOff(onState) {\n    if (led) {\n        led.setLedOnOff(onState);\n    }\n}\n\nfunction blink(blinkState) {\n    if (led) {\n        led.blink(blinkState);\n    }\n};\n</script>                \n<canvas id=\"canvas_led\"></canvas>","storeOutMessages":false,"fwdInMessages":false,"x":577,"y":712,"wires":[[]]},{"id":"32c59c45.55745c","type":"function","z":"20276ea5.1116c2","name":"","func":"switch (msg.payload){\n    case \"OK\":          msg.state = \"on\";msg.color=\"green\";break;\n    case \"timed out\":   msg.state = \"blinking\"; msg.color = \"orange\"; break;    \n    case \"[Errno 113] No route to host\": msg.state = \"blinking\"; msg.color = \"red\"; break;\n    default:    msg.state = \"blink\";msg.color = \"yellow\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":346,"y":719,"wires":[["a16c4b6f.2efa58"]]},{"id":"36cf2f82.8c3108","type":"http request","z":"20276ea5.1116c2","name":"Get ETH difficulty","method":"GET","ret":"obj","url":"https://etherchain.org/api/difficulty","tls":"","x":318,"y":567,"wires":[["4be7f79e.603f1"]]},{"id":"4be7f79e.603f1","type":"function","z":"20276ea5.1116c2","name":"","func":"\nreturn {payload: msg.payload.data[0].difficulty/1024/1024/1024/1024};","outputs":1,"noerr":0,"x":478,"y":568,"wires":[["9b7106f3.2ac678"]]},{"id":"9b7106f3.2ac678","type":"ui_text","z":"20276ea5.1116c2","group":"a9081a23.fe65c8","order":0,"width":0,"height":0,"name":"","label":"Difficulty","format":"{{msg.payload|number:2}}T","layout":"row-spread","x":686,"y":570,"wires":[]},{"id":"a9081a23.fe65c8","type":"ui_group","z":"","name":"Mining ETH","tab":"dd0e5843.f1d508","order":2,"disp":true,"width":"6"},{"id":"d2a40106.560f4","type":"ui_group","z":"","name":"Environment","tab":"dd0e5843.f1d508","order":1,"disp":true,"width":"6"},{"id":"38c5e326.02486c","type":"ui_group","z":"","name":"Mining SIA","tab":"dd0e5843.f1d508","order":3,"disp":true,"width":"6"},{"id":"31c0b05d.c172e8","type":"ui_group","z":"","name":"HW Status","tab":"dd0e5843.f1d508","order":4,"disp":true,"width":"6"},{"id":"dd0e5843.f1d508","type":"ui_tab","z":"","name":"Zver","icon":"dashboard"}]
